
{{#if englishVersion}}
<footer class="footer">
    <p class="footer__info">
        All rights reserved &copy 2022
    </p>
</footer>
{{/if}}
{{#if russianVersion}}
<footer class="footer">
    <p class="footer__info">
        Все права защищены &copy 2022
    </p>
</footer>
{{/if}}