.bodyList__topPanel button {
    border: solid 1px lightgray;
    padding: 4px 10px;
}

.bodyList__topPanel input{
    margin-right: 3px;
    padding: 3px 10px;
    width: 331px;
    border-radius: 5px;
}
