
{{#if englishVersion}}
    <div class="about"> 
            <h1 class="page-title">Welcome!</h1>                   
            <p class="about__info">
                Don't know how to calculate tips for your company
                and don't want to quarrel with your friends?
                You no longer need to exchange glances with your friends, deciding who will pay the tip: you can scatter them
                at all using the tip calculator
            </p>
            <a class="about__btn-start button" href="#/main" title="Click here to get started!">
                Lest's Go!
            </a>
        </div>
        {{/if}}
        {{#if russianVersion}}
        <div class="about"> 
        <h1 class="page-title">Добро пожаловать!</h1>                   
        <p class="about__info">
            Не знаете, как посчитать чаевые на свою компанию 
            и не хотите ссориться с друзьями? 
            Больше не нужно переглядываться с друзьями, решая, кто заплатит чаевые: их можно разбросать
            на всех с помощью нашего калькулятора чаевых
        </p>
        <a class="about__btn-start button" href="#/main" title="Click here to get started!">
            Вперёд!
        </a>
    {{/if}}
</div>